<app-navbar>
</app-navbar>

<div class="mainContainer">

    <div class="buttonHolder">
        <div class="newPostButton">
            <button type="button" mdbBtn color="success" [routerLink]="routerLink" routerLinkActive="router-link-active" mdbWavesEffect>New issue</button>
        </div>
    </div>

    <div class="titleOfPage">{{postCatagory}} </div>

    <!--Algolia API keys  -->
    <ais-instantsearch [config]="{
              apiKey: '8b42308ab95e76f5520f09a2b135cb4f',
              appId: '4OMR9ESZ2H',
              indexName: databaseName,
              routing: true
            }">

        <!-- search box-->
        <div class="searchBar">
            <ais-search-box (change)="searchChanged($event)"></ais-search-box>
        </div>

        <!-- Answer displaying area -->
        <div class="postGrandpa">
            <div *ngIf="!showResults" class="postContainersParent">
                <br> Enter keywords to search
            </div>
            <div *ngIf="showResults" class="postContainersParent">

                <ais-hits>
                    <ng-template let-hits=" hits  ">
                        <div *ngFor="let hit of hits">
                            <app-post [name]="hit.name" [url]="hit.profilePic" [content]="hit.body" [date]="hit.date" [solved]="hit.status" [id]="hit.objectId" [title]="hit.title" [uuid]="hit.uuid" [category]="hit.category">
                            </app-post>
                        </div>
                    </ng-template>
                </ais-hits>
            </div>

        </div>

    </ais-instantsearch>
</div>