<body>
    <br><br>
      <!--Card-->
      <div class="img">
      <ul *ngFor="let item of fileList" class="collection">

      <div class="col-md-3">
        <mdb-card cascade="true" narrower="true">

        <!--Card image-->
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="/assets/images/fileicon.png" class="card-img h-100"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>

        </div>

        <!--/.Card image-->

        <!--Button-->
        <a mdbBtn floating="true" class="btn-action ml-auto mr-4 mdb-color lighten-3 waves-light" mdbWavesEffect>
          <mdb-icon fas icon="chevron-right" class="pl-1 waves-light" mdbWavesEffect></mdb-icon>
        </a>

        <!--Card content-->
        <mdb-card-body>

          <!--Title-->
          <mdb-card-title>
            <h4><strong >{{item.name}}</strong></h4>
          </mdb-card-title>

          <hr>
          <!--Text-->
          <p class="font-small grey-dark-text mb-0">Category: <strong >{{item.cat}} </strong> </p>
          <a href="{{item.url}}" class="waves-light">
            <h5 class="waves-light" mdbWavesEffect>Download
              <mdb-icon fas icon="chevron-right" class="waves-light" mdbWavesEffect></mdb-icon>
            </h5>
          </a><br>
          <button class="btn btn-success" (click)="deletefile(item)"> Delete</button>
        </mdb-card-body>
        <!--/.Card content-->

        <!-- Card footer -->
        <mdb-card-footer class="mdb-color lighten-3 text-center">

        </mdb-card-footer>
        <!-- Card footer -->
      </mdb-card>
      </div>
      </ul>
    </div>
      <!--/.Card-->
      <p align="center">
          <button mdbBtn type="button" color="primary" rounded="true" onclick="location.href='/home'" mdbWavesEffect>Home</button>
          <button mdbBtn type="button" color="secondary" rounded="true"  onclick="location.href='/upload-form'" mdbWavesEffect>Upload</button>
          <button mdbBtn type="button" color="warning" rounded="true"  onclick="location.href='/gallery'" mdbWavesEffect>Gallery</button>
          <button mdbBtn type="button" color="default" rounded="true" onclick="location.href='/videoview'" mdbWavesEffect>Videos</button>
          </p>

      <!------>
      </body>
