<div class="answerContainer">
    <div class="answerBox">

        <div class="answerTitle">
            <div class="imageHolder"><img src={{imagePath}} class="image" alt=""></div>
            <div class="titleData">
                <div class="ansName">{{ansName}}</div>
                <div class="ansDate">{{ansDate}} </div>
            </div>
        </div>

        <div class="ansBody">
            {{desc}}
        </div>

        <div class="solutionButtonContainer">
            <button type="button" mdbBtn color="primary" mdbWavesEffect>Select as answer</button>
        </div>

    </div>
</div>