<body >
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <div class="postionLogo">
            <div class="navbar-brand">Idea Brain</div>
        </div>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
  
  
  
    <!-- Links -->
    <div class="alignLinks">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/cat" routerLinkActive="router-link-active" class="nav-link waves-light" mdbWavesEffect>Issue center</a>
            </li>
            <div class="alignItem">
                <li class="nav-item">
                    <a href="/rccenter" routerLinkActive="router-link-active" class="nav-link waves-light" mdbWavesEffect>Resource center</a>
                </li>
            </div>
            <div class="alignItem">
                <li class="nav-item">
                    <a href="/chat" routerLinkActive="router-link-active" class="nav-link waves-light" mdbWavesEffect>Chat</a>
                </li>
            </div>
  
        </ul>
    </div>
  
    <!-- Links -->
    <div class="profileIcon">
        <ul class="navbar-nav ml-auto nav-flex-icons">
  
            <li class="nav-item">
  
                <a href="/dashboard" routerLinkActive="router-link-active" class="nav-link">
                    profile&nbsp;<i class="far fa-user-circle"></i>
                </a>
            </li>
  
            <div class="devider">
                |
            </div>
  
            <li class="nav-item">
                <a href="/not" routerLinkActive="router-link-active" class="nav-link">
                      Notifications&nbsp;
                       <!-- Change icon if there are new notifications  -->
                </a>
            </li>
  
            <div class="devider">
                |
            </div>
  
            <li class="nav-item">
                <a class="nav-link" >
                logout&nbsp;<i class="fas fa-sign-out-alt"></i>
            </a>
  
            </li>
  
        </ul>
    </div>
  </mdb-navbar>
  
  <br><br><br>
  
  <div class="card-deck">
    <div class="view view-cascade ">
      <div class="card" style="width: 20rem;">
          <h2 class="card-header-title  text-center">Start....</h2>
          <ul class="list-group list-group-flush">
          <mdb-card-img src="assets/images/5.gif" style="width: 200px, text center"  onclick="location.href='rccenter/upload-form'"  ></mdb-card-img>
          </ul>
          <div class="card-body"></div>
      </div>
    </div>
  
  
    <div class=" card">
        <div class="view view-cascade ">
          <h2 class="card-header-title font-weight-bold text-center">Upload</h2>
            <div class="card-body">
              <form [formGroup]="formTemplate" (submit)= "uploadImages(formTemplate.value)">
                <div class="form-group">
                  <br>
                  <input type="file"  class="form-control" formControlName="imageUrl" (change)="detectFiles($event )">
                  <div class="text-danger" *ngIf="isSubmitted && !! formControls.imageUrl.errors?.required">This field is required.</div>
                </div>
  
                <div class="form-group">
                  <input type="text"  class="form-control" formControlName="uname" placeholder="Enter your name">
                  <div class="text-danger" *ngIf="isSubmitted && !! formControls.category.errors?.required">This field is required.</div>
                </div>
                <br>
                 <div class="form-group">
                  <select formControlName="type" class="form-control">
                    <option value="image">Image</option>
                    <option value="file" >File</option>
                    <option value="video">Video</option>
                  </select>
                  <div class="text-danger" *ngIf="isSubmitted && !! formControls.category.errors?.required">This field is required.</div>
                </div>
  
                <div class="form-group" style="text-align: center">
                  <button  type= "submit" class="btn btn-danger" >Upload</button>
                </div>
                <br>
  
                <div class="form-group" style="text-align: center">
                  <button type="reset" class="btn btn-success btn-rounded" id="reset-btn" (click)="resetForm()">Reset?</button>
                </div>
              </form>
            </div>
        </div>
    </div>
  
        <div class="view view-cascade ">
          <div class="card" style="width: 20rem;">
            <h2 class="card-header-title  text-center">Finish....</h2>
            <ul class="list-group list-group-flush">
            <mdb-card-img src="assets/images/QU3H.gif" style="width: 200px, text center" onclick="location.href='rccenter/gallery'" ></mdb-card-img>
            </ul>
            <div class="card-body"></div>
          </div>
        </div>
  </div>
  <br>
  
  <div style="text-align: center">
    <button mdb class=" button4" type="button" color="secondary"  onclick="location.href='/rccenter'" mdbWavesEffect>Home</button>
    <button class=" button4" type="button" color="secondary"   onclick="location.href='rccenter/gallery'" mdbWavesEffect>Resources</button>
  </div>
  
  </body>
  