.linkWrapper {
    margin-left: 20px;
    margin-right: 20px;
}

.postionLogo {
    margin-left: 14px;
}

.alignLinks {
    //margin-left: 300px;
    margin: auto;
    width: 390px;
}

.alignItem {
    margin-left: 50px;
}

.devider {
    margin-top: 4px;
    font-size: 20px;
    color: white;
}