
<body>
  <!--Card--><br><br>
  

   <div class="img-fluid  text-white">
  <ul *ngFor="let item of imageList" class="collection">

  <div class="col-md-6 mb-6">
    <mdb-card cascade="true" narrower="true" >

    <!--Card image-->
    <div class="container">
    <div class="view overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="assets/images/img.png" style="width: 20px" ></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>

    </div>
  </div>
    <!--/.Card image-->




    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <h4><strong >{{item.name}}</strong></h4>
      </mdb-card-title>

      
      <hr>
      <!--Text-->
      <p class="font-small grey-dark-text mb-0">Category: <strong >{{item.cat}} </strong> </p>
      <p class="font-small grey-dark-text mb-0">Type: <strong >{{item.type}} </strong> </p>
      <div style="text-align: center">
      <a href="{{item.url}}" class="waves-light">
        <h5 class="text-white" mdbWavesEffect> Download
          <mdb-icon fas icon="chevron-right" class="text-white" mdbWavesEffect></mdb-icon>
        </h5>
      </a>
    </div>
      <br>
      <div style="text-align: center">
      <button class="btn btn-success" (click)="deleteimage(item)"> Delete</button>
      </div>
    </mdb-card-body>
    <!--/.Card content-->

    <!-- Card footer -->
    <mdb-card-footer class="mdb-color lighten-3 text-center">

    </mdb-card-footer>
    <!-- Card footer -->
  </mdb-card>
  </div>
  </ul>
  </div>
  <!--/.Card-->

  <p align="center">
  <button mdbBtn type="button" color="primary" rounded="true" onclick="location.href='/rccenter'" mdbWavesEffect>Home</button>
  <button mdbBtn type="button" color="secondary" rounded="true"  onclick="location.href='rccenter/upload-form'" mdbWavesEffect>Upload</button>

  </p>
  <!------>
  </body>
