body {
  background-image: url("/assets/images/y.jpg");
  background-size: cover;
  // background-repeat: repeat-x;
}
.card{
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  width: 150px;
  height: 100px;
}
