  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    width: 5px;
    background: #01b828;
  }
  
  ::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: rgb(209, 9, 9);
    outline: 1px solid rgb(26, 85, 145);
    border-radius: 1rem;
  }
  
  .text-small {
    font-size: 0.9rem;
  }

  .ar{
    text-align: right;
  }

  .al{
    text-align: left;
  }
  
  .messages-box,
  .chat-box {
    height: 531px;
    overflow-y: scroll;
    width: auto;
  }
  ::-align {
    align-self: right;
  }

  .rounded-lg {
    border-radius: 0.5rem;
  }
  
  input::placeholder {
    font-size: 0.9rem;
    color: #999;
  }

  li {
    list-style-type: none;
}

.bgImgCenter{
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

  min-height: 100vh;
  background-position: center; 
  position: relative;
}