 .formContainer {
     margin-top: 10%;
     width: 40%;
     margin: auto;
     background-color: #fff!important;
     box-shadow: 0 0 40px rgba(0, 0, 0, .05);
     border: 0px!important;
     border-radius: 15px!important;
 }
 
 .googleIcon {
     text-align: center;
     color: black;
 }
 
 .upperArea {
     height: 15%;
 }
 
 .body {
     background-color: #f7f9fb!important;
     height: 100%;
 }
 
 .formGroup {
     text-align: center;
     margin-top: 10%;
 }