.cardContainer{
    height: 400px;   
    padding:0px;
    width:100%;
}
 
 
.card1{ 
    border:0px;  
    position: relative;  
    width:33%;
    display: inline-block;
    text-align: center;
}
.cardBox{
    display: inline-block;   
    width:400px;
}


a{
    color: black;
}