body {
  background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);
  background-size: cover;

  // background-repeat: repeat-x;
}
.card{
  background-color: rgba(0, 0, 0, 0.5);
}

