<section class="section">
    <br><br>
      <!-- Section description -->
    
      <!--Grid row-->
      <div class="row">
    
        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg')">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h3 class="card-title py-3 font-weight-bold"><strong>Upload</strong></h3>
                <p class="pb-3">Click here to upload images,files and videos.</p>
                <a mdbBtn type="button" mdbBtn color="secondary" rounded="true" [routerLink]="['upload-form']">
                  <mdb-icon fas icon="clone" class="left"></mdb-icon> Upload
                </a>
              </div>
            </div>
          </mdb-card>
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg')">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h3 class="card-title py-3 font-weight-bold"><strong>Gallery</strong></h3>
                <p class="pb-3">Click here to view gallery.</p>
                <a mdbBtn color="pink" rounded="true" [routerLink]="['gallery']">
                  <mdb-icon fas icon="clone" class="left"></mdb-icon> Resources
                </a>
           
             </div>
            </div>
          </mdb-card>
        </div>
        <!--Grid column-->
     
        
    
       
      </div>
      <!--Grid row-->
    
    
    
    </section>
    <!--Projects section v.4-->
    