 

.upperArea{
    height:200px;
}

body{
    background:#c8c8c8!important;
}
 
 
.formContainer{
    width:400px;
    margin: auto;
    background-color: #fff!important;
    box-shadow: 0 0 40px rgba(0,0,0,.05);
    border: 0px!important;
    border-radius: 15px!important;
}

.googleIcon{  
    text-align: center; 
    color: black;
}
.upperArea{
    height:200px;
}


.body{ 
    background-color: #f7f9fb!important;
    height: 100%;
} 