body {
    background: #c8c8c8!important;
}

.formContainer {
    width: 30%;
    height: 30%;
    margin: auto;
    background-color: #fff!important;
    box-shadow: 0 0 40px rgba(0, 0, 0, .05);
    border: 0px!important;
    border-radius: 15px!important;
}

.googleIcon {
    text-align: center;
    color: black;
}

.upperArea {
    height: 10%;
    padding-top: 5%;
}