<!-- Header Part -->
<div class="navigation">
  <input type="checkbox" class="navigation_checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation_button"></label>
  <div class="navigation_background">&nbsp;</div>
  <nav class="navigation_nav ">
    <ul class="navigation_list">
        <li class="navigation_item"><a href="http://localhost:4200/" class="navigation_link">Home</a></li>
      <li class="navigation_item"><a href="" class="navigation_link">About Ideabrain</a></li>
      <li class="navigation_item"><a href="http://localhost:4201/" class="navigation_link">Login</a></li>
      <li class="navigation_item"><a href="" class="navigation_link">Forum</a></li>
     
    </ul>
  </nav>
</div>
<body>
  <header class="header">
    <div class="logo-box">
      <img src="../../assets/logo.png" alt="Logo" class="logo" />
    </div>
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">Ideabrain</span>
        <span class="heading-primary-sub">Where New inevetors</span>
      </h1>
      <a href="#" class="btn btn-white btn-animated">Discover More</a>
    </div>
  </header>
  <main>
    <section class="section-about">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          What Is Ideabrain
        </h2>
      </div>
      <div class="row">
        <div class="col-1-of-2 ">
          <h3 class="heading-tertiary u-margin-bottom-small">
            Why you should use it
          </h3>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            aperiam voluptas quo similique numquam consectetur. Placeat officia
            perferendis voluptatum a quae, porro quidem facere asperiores culpa
            non temporibus. Atque, modi?
          </p>
          <h3 class="heading-tertiary  u-margin-bottom-small">
            What will you get
          </h3>
          <p class="paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
            aperiam voluptas quo similique numquam consectetur. Placeat officia
            perferendis voluptatum a quae, porro quidem facere asperiores culpa
            non temporibus. Atque, modi?
          </p>
          <a href="#" class="btn btn-text">Discover more &rarr;</a>
        </div>
        <div class="col-1-of-2">
          <div class="composition">
            <img
              src="../../assets/about1.gif"
              alt=""
              class="composition__photo composition__photo--p1"
            />
            <img
              src="../../assets/about2.gif"
              alt=""
              class="composition__photo composition__photo--p2"
            />
            <img
              src="../../assets/nat-3-large.jpg"
              alt=""
              class="composition__photo composition__photo--p3"
            />
          </div>
        </div>
      </div>
    </section>
    <section class="section-features">
      <div class="row">
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box-icon icon-basic-world"></i>
            <h3 class="heading-tertiary u-margin-bottom-small" >Find your world</h3>
            <p class="feature-box">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non
             
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box-icon icon-basic-world"></i>
            <h3 class="heading-tertiary u-margin-bottom-small">Find solution</h3>
            <p class="feature-box">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non
          
            </p>
          </div>
        </div>
        <div class="col-1-of-4">
          <div class="feature-box">
            <i class="feature-box-icon icon-basic-world"></i>
            <h3 class="heading-tertiary">Find your world</h3>
            <p class="feature-box">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non
             
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>
<!-- <div class="containers">
    <div *ngIf="afAuth.authState | async as user" class="logout">
        <p>
          Logged in as <strong>{{ user.email }}</strong>
        </p>
        <p>{{firebaseservice.currrentUserId()}}</p>
        <button mat-stroked-button (click)="firebaseservice.signOut()">Logout</button>
</div>
</div>


<div *ngIf="user">{{user.NIC}}</div>
<div *ngIf="!user">2</div> -->
