<!-- Header Part -->
<div class="navigation">
  <input type="checkbox" class="navigation_checkbox" id="navi-toggle">
  <label for="navi-toggle" class="navigation_button"></label>
  <div class="navigation_background">&nbsp;</div>
  <nav class="navigation_nav ">
    <ul class="navigation_list">
        <li class="navigation_item"><a href="home" class="navigation_link">Home</a></li>
      <li class="navigation_item"><a href="" class="navigation_link">About Ideabrain</a></li>
      <li class="navigation_item"><a href="sign-in" class="navigation_link">Login</a></li>
 
     
    </ul>
  </nav>
</div>
<body>
  <header class="header">
    <div class="logo-box">
      <img src="../../assets/img/logo.png" alt="Logo" class="logo" />
    </div>
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">Ideabrain</span>
        <span class="heading-primary-sub">Where New inevetors</span>
      </h1>
      <a href="#" class="btn btn-white btn-animated">Discover More</a>
    </div>
  </header>
  <main>
    <section class="section-about">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">
          What Is Ideabrain
        </h2>
      </div>
      <div class="row">
        <div class="col-1-of-2 ">
          <h3 class="heading-tertiary u-margin-bottom-small">
            Why you should use it
          </h3>
          <p class="paragraph">
              IdeaBrain builds solution teams from a secure network of people where it leads to
              solutions and insights for the arising problems. By gathering and utilizing the Sri
              Lankan's brilliant minds, positive innovations it opens a path with passionate to be
              benefited in a way of development of Sri Lanka. We intend to achieve this through
              following objectives.
          </p>
          <h3 class="heading-tertiary  u-margin-bottom-small">
            What will you get
          </h3>
          <p class="paragraph">
              This is a digitized platform containing three sub platforms. Using this platform the
              anyone can submit any ongoing problem and get the help to find the solutions from
              the community of the users on the platform. If the solutions are good enough and
              easy to process they can make it happen without waiting for the support of the
              government. 
          </p>
          <a href="#" class="btn btn-text">Discover more &rarr;</a>
        </div>
        <div class="col-1-of-2">
          <div class="composition">
            <img
              src="../../assets/about1.gif"
              alt=""
              class="composition__photo composition__photo--p1"
            />
            <img
              src="../../assets/about2.gif"
              alt=""
              class="composition__photo composition__photo--p2"
            />
            <img
              src="../../assets/nat-3-large.jpg"
              alt=""
              class="composition__photo composition__photo--p3"
            />
          </div>
        </div>
      </div>
    </section>
   <div class="container">
       <div class="box">
           <div class="icon">01</div>
           <div class="content">
                <h3>
                  Isuue Center
                </h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea neque culpa ducimus itaque asperiores consectetur illo. Quos, sapiente non nostrum ea culpa, dignissimos voluptates accusantium officia quasi nam quod atque!
                </p>
              <a href=#>Go now</a>
           </div>
       </div>
       <div class="box">
          <div class="icon">01</div>
          <div class="content">
               <h3>
                   Forum
               </h3>
               <p>
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea neque culpa ducimus itaque asperiores consectetur illo. Quos, sapiente non nostrum ea culpa, dignissimos voluptates accusantium officia quasi nam quod atque!
               </p>
             <a href=#>Go now</a>
          </div>
      </div>
      <div class="box">
          <div class="icon">01</div>
          <div class="content">
               <h3>
                   Live chat
               </h3>
               <p>
                   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea neque culpa ducimus itaque asperiores consectetur illo. Quos, sapiente non nostrum ea culpa, dignissimos voluptates accusantium officia quasi nam quod atque!
               </p>
             <a href=#>Go now</a>
          </div>
      </div>
   </div>
   <!-- footer ***********************************************************************************************************-->
   <div class="footer">
     <div class="footer-content">
       <div class="footer-section about">
         <h1 class="logo-text"><span>IdeaBrain</span>Inspires</h1>
         <p>
           This is bla ........bla........bla.....<br>
           hhhhhhhhhhhhhhhhhhhhhh<br>
          dfghjfghj
         </p>
         <div class="contact">
           <span><i class="fas fa-phone"></i> &nbsp; 011-123456</span>
           <span><i class="fas fa-envelope"></i> &nbsp; Ideabrain@gmail.com</span>
         </div>
       </div>
       <div class="footer-section links">
         <h2>Quick Links</h2>
         <br>
         <ul>
          <a href="#">
            <li>Gallary</li>
          </a>
          <a href="#">
            <li>Team</li>
          </a>
          <a href="#">
            <li>Terms and Conditions</li>
          </a>
          <a href="#">
            <li>Issue Center</li>
          </a>
          <a href="#">
            <li>Resource Center</li>
          </a>
          <a href="#">
            <li>Chat</li>
          </a>
         </ul>
       </div>
       <div class="footer-section contact-form">
         
         <h2>Contact Us</h2>
          <br>
         
          <form action="index.html" method="post"> 
           <input type="email" name="email" class="text-input contact-input" placeholder="Your e-mail here....."><br> 
           <textarea name="message" class="text-input contact-input" placeholder="Your message......."></textarea> <br>
           <div style="text-align: center">
           <button type="submit" class="btn btn-success contact-btn">
             <i class="fas fa-envelope"></i>
             Send
           </button>
           </div>
          </form> 
       </div>
     </div>

     <div class="footer-bottom">
       &copy; IdeaBrain | Made by team IdeaBrain
     </div>

   </div>
   <!-- footer end******************************************************************************************************** -->
  </main>
</body>
<!-- <div class="containers">
    <div *ngIf="afAuth.authState | async as user" class="logout">
        <p>
          Logged in as <strong>{{ user.email }}</strong>
        </p>
        <p>{{firebaseservice.currrentUserId()}}</p>
        <button mat-stroked-button (click)="firebaseservice.signOut()">Logout</button>
</div>
</div>


<div *ngIf="user">{{user.NIC}}</div>
<div *ngIf="!user">2</div> -->
